.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  z-index: 1000;
  background-image: url(/assets/image/loading-bg.jpg);
  background-size: cover; /* Make the background image cover the entire screen */
  background-position: center;
}

.customButton {
  color: white;
  padding: 15px 30px; 
  font-size: 24px;  
  border: none; 
  margin-top: 10%;
  border-radius: 50px; 
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  outline: none; 
  background: linear-gradient(180deg, #C42424, #5E1111);
}

.customButton:hover {
  background: linear-gradient(180deg, #A11E1E, #4B0E0E);
}